<div class="home">

<section class="top">
  <%= image_tag( "home.png", class: "home-image" ) %>
 </section>


<section id="galletas" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Galletas</header>
        <span class="section-text">Nuestras Galletas estan elaboradas con la mas alta calidad en repostería, debido al cuidado en su elaboración e incorporando una gran variedad de ingredientes, resultado con un amplia gama de galletas para todos los gustos y paladares.</span>
        <br>
        <br>
        <a class="button button-primary section-button" href="/cookies">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "galletas1.jpg", class: "section-image" ) %>
      </div>
    </div>
  </div>    
</section>

<section id="tartas" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Tartas</header>
        <span class="section-text">Las Tartas no pueden quedarse atras, hechas para satisfacer el paladar mas exigente, la calidad de sus ingredientes y su elaboración, dandole un sabor inigualable.</span>
        <br>
        <br>
        <a class="button button-primary section-button" href="/tarts">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "tartas1.jpg", class: "section-image" ) %>
      </div>
    </div>
  </div>    
</section>

<section id="pasteles" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Pasteles</header>
          <span class="section-text">Pasteles hechos para satisfacer su paladar, en capas para un sabor brillante y auténtico. Cubiertos con una capa de su preferencia.</span>
          <br>
          <br>
          <a class="button button-primary section-button" href="/cakes">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "pasteles1.jpg", class: "section-image" ) %>
      </div>
    </div>
  </div>    
</section>

<section id="postres" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Postres</header>
        <span class="section-text">Gran variedad de Postres, realizados con los mas altos estandares de calidad.</span>
        <br>
        <br>
        <a class="button button-primary section-button" href="/deserts">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "postres1.jpg", class: "section-image" ) %>      
      </div>
    </div>
  </div>    
</section>

<section id="panes" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Panes</header>
        <span class="section-text">Nuestros Panes, podran complementarse a sus comidas o platillos.</span>
        <br>
        <br>
        <a class="button button-primary section-button" href="/breads">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "panes1.jpg", class: "section-image" ) %>      
      </div>
    </div>
  </div>    
</section>

</div>