<div class="home"

<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <%= image_tag( "home.png", class: "home-image" ) %>

      </div>
    </div>
  </div>    
</section>


<section id="galletas" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Galletas</header>
        <span class="section-text">Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur lectus iaculis hac mollis, convallis torquent hendrerit luctus laoreet odio semper justo per etiam vel, ultricies pharetra metus maecenas aliquam in nam augue dignissim faucibus suscipit.</span>
        <br>
        <br>
        <a class="button button-primary section-button" href="#galletas">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "galletas1.jpg", class: "section-image" ) %>
      </div>
    </div>
  </div>    
</section>

<section id="tartas" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Tartas</header>
        <span class="section-text">Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur lectus iaculis hac mollis, convallis torquent hendrerit luctus laoreet odio semper justo per etiam vel, ultricies pharetra metus maecenas aliquam in nam augue dignissim faucibus suscipit.</span>
        <br>
        <br>
        <a class="button button-primary section-button" href="#tartas">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "tartas1.jpg", class: "section-image" ) %>
      </div>
    </div>
  </div>    
</section>

<section id="pasteles" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Pasteles</header>
          <span class="section-text">Pasteles hechos para satisfacer su paladar, en capas para un sabor brillante y auténtico. Cubiertos con una capa de su preferencia.</span>
          <br>
          <br>
          <a class="button button-primary section-button" href="#pasteles">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "pasteles1.jpg", class: "section-image" ) %>
      </div>
    </div>
  </div>    
</section>

<section id="postres" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Postres</header>
        <span class="section-text">Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur lectus iaculis hac mollis, convallis torquent hendrerit luctus laoreet odio semper justo per etiam vel, ultricies pharetra metus maecenas aliquam in nam augue dignissim faucibus suscipit.</span>
        <br>
        <br>
        <a class="button button-primary section-button" href="#postres">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "postres1.jpg", class: "section-image" ) %>      
      </div>
    </div>
  </div>    
</section>

<section id="panes" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header">Panes</header>
        <span class="section-text">Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur lectus iaculis hac mollis, convallis torquent hendrerit luctus laoreet odio semper justo per etiam vel, ultricies pharetra metus maecenas aliquam in nam augue dignissim faucibus suscipit.</span>
        <br>
        <br>
        <a class="button button-primary section-button" href="#panes">Ver más</a>
      </div>
      <div class="col-md-6">
        <%= image_tag( "panes1.jpg", class: "section-image" ) %>      
      </div>
    </div>
  </div>    
</section>

</div>